DATABASE_URL=""            # mongodb in replica mode
STAKE_BACKEND_PORT=3000    # listen port
INDEXER_INTERVAL=1000      # indexer polling interval
RETRY_INTERVAL=1000        # retry time gap when an error occurs
RETRY_TIMES=10             # retry times before exit
STAKE_CONTRACT_ADDR=""     # the stake contract address
LIQUIDITY_CONTRACT_ADDR="" # the liquidity contract address
DEPLOY_BLOCK_NUMBER=20     # the blocknum your contract deployed at
CHAIN_RPC_URL=''           # provider rpc url
HTTP_PROXY=''              # set if you want to use proxy
